nav {
    max-width: 1200px;
    margin: 0 auto;
}
header ul {
    justify-content: center;
}

section:nth-child(-n+3) {
    max-width: 1200px;
    margin: 0 auto;
}
.third{
    margin: 0 4%;
}
#social {
    display: flex;
    justify-content: center;
}
